#housingDiv {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 89%;
	max-width: 1240px;
	padding: 10px;
	margin: 50px auto;
	gap: 5px;
	box-sizing: border-box;
	border-radius: 25px;
	background: #f6f6f6;

	@media (max-width: 1024px) {
		max-width: 89%;
		margin: 30px auto 30px auto;
		gap: 0;
	}

	@media (max-width: 768px) {
		padding: 0;
		margin: 25px auto 25px auto;
	}

	@media (max-width: 480px) {
		justify-content: center;
		background: none;
		margin: 0 auto 10px auto;
	}
}
