#error-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 89%;
	text-align: center;
	gap: 10vh;
	margin: 0 auto 15vh auto;
	h1 {
		font-size: 18em;
		line-height: 410px;
		font-weight: 700;
		color: #ff6060;

		@media screen and (max-width: 768px) {
			font-size: 10em;
			line-height: 227px;
		}

		@media screen and (max-width: 480px) {
			font-size: 6em;
			line-height: 136px;
		}
	}

	p {
		max-width: 80%;
		font-size: 2.2em;
		line-height: 51px;
		font-weight: 500;
		color: #ff6060;

		@media screen and (max-width: 768px) {
			font-size: 1.87em;
			line-height: 43px;
		}

		@media screen and (max-width: 480px) {
			font-size: 1.12em;
			line-height: 18px;
		}
	}

	a {
		color: black;
		font-size: 1.12em;
		line-height: 25px;
		font-weight: 500;

		@media screen and (max-width: 768px) {
			font-size: 1em;
			line-height: 22px;
		}

		@media screen and (max-width: 480px) {
			font-size: 0.87em;
			line-height: 20px;
		}
	}
}
